[Unit]
Description=Run car-go-clean daemon
Documentation=https://github.com/dcchuck/car-go-clean
After=network.target

[Service]
Type=simple
ExecStart=__CAR_GO_CLEAN_BIN__ daemon
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=default.target
